[Unit]
Description=Chameleon container
After=docker.socket early-docker.target network.target network-online.target
Wants=network-online.target
BindsTo=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker-compose -f /opt/chameleon/docker-compose.yml -p chameleon up
ExecStop=/usr/bin/docker-compose -f /opt/chameleon/docker-compose.yml -p chameleon down

[Install]
WantedBy=multi-user.target
